<div class="my-5">
  <div *ngIf="!shouldEditUser">
    <h5>{{ user.name }}</h5>

    <h6>{{ user.email }}</h6>
    <h6>{{ user.Id }}</h6>

    <button class="btn btn-sm btn-danger" (click)="onclick(user)">
      Delete
    </button>
    <button class="btn btn-sm btn-warning" (click)="onEdit(user)">Edit</button>
  </div>
  <div *ngIf="shouldEditUser">
    <p>Editing User</p>
    <input type="text" [(ngModel)]="user.name" />
    <input type="email" [(ngModel)]="user.email" />
    <input type="email" [(ngModel)]="user.Id" />
    <button class="btn btn-sm btn-primary" (click)="onSave(user)">Save</button>
  </div>
</div>
