<div class="my-5">
  <div class="justify-content-md-center row g-2" *ngIf="!shouldEditUser">
    <h5 class="border col col-sm-4">{{ user.name }}</h5>

    <h5 class="border col col-sm-4">{{ user.email }}</h5>
    <h5 class="border col col-sm-4">{{ user.Id }}</h5>

    <button
      class="border col col-sm-4 btn btn-sm btn-danger"
      (click)="onclick(user)"
    >
      Delete
    </button>
    <button
      class="border col col-sm-4 btn btn-sm btn-warning"
      (click)="onEdit(user)"
    >
      Edit
    </button>
  </div>
  <div *ngIf="shouldEditUser">
    <p>Editing User</p>
    <input type="text" [(ngModel)]="user.name" />
    <input type="email" [(ngModel)]="user.email" />
    <input type="email" [(ngModel)]="user.Id" />
    <button class="btn btn-sm btn-primary" (click)="onSave(user)">Save</button>
  </div>
</div>
