
.login-wrapper {

    margin: 10rem auto;
    width: 20rem;
    background-color: black;
}

input {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}
.min-height{
    min-height: auto;
}
.card{
    background-color:rgb(67, 50, 134) ;
    color: white;
}
