<main role="main" class="container">
  <div class="jumbotron">
    <h1>Forgot Password</h1>
    <p class="lead"></p>
    <h1 class="h3 mb-3 font-weight-normal">Enter Email Id</h1>

    <input
      type="text"
      id="inputEmail"
      class="form-control"
      name="Email"
      placeholder="Email"
      ngModel
      required
      autofocus
    />
    <form class="form-signin" (ngSubmit)="sendLink()">
      <button class="btn btn-sm btn-primary btn-block" type="submit">
        Send Link
      </button>
    </form>
  </div>
</main>
