<app-add-user (userAdd)="AddUser($event)"></app-add-user>
<h4>User List</h4>
<div class="border">
  <div class="row row-col-4">
    <div class="d-flex justify-content-between">
      <div class="col-sm-3">
        <h4>Username</h4>
      </div>
      <div class="col-sm-3">
        <h4>Email</h4>
      </div>
      <div class="col-sm-3">
        <h4>UserID</h4>
      </div>
      <div class="col-xs-1">
        <h4>Edit/Delete</h4>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.users.length === 0; else elseBlock">No Added Users</div>
<ng-template #elseBlock>
  <div class="ListPresentation">
    <div *ngFor="let user of users">
      <app-user-item
        [user]="user"
        (userDelete)="deleteUser($event)"
      ></app-user-item>
    </div>
  </div>
</ng-template>
